.article {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 324px;
  background-color: rgba($color: $black-color, $alpha: 0.66);
  box-shadow: 20px 20px 30px $shadow-color;
  color: $white-color;
  padding: 24px;
  border-radius: 20px;

  a {
    color: $white-color;
  }

  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    mix-blend-mode: overlay;
    object-fit: cover;
  }

  h3 {
    font-size: 1em;
  }

  p {
    margin-top: 16px;
  }

  footer {
    margin-top: auto;
    display: flex;
    align-items: center;

    span {
      margin-right: 16px;
      display: flex;
      align-items: center;

      img {
        width: 12px;
        margin-right: 4px;
      }
    }

    p {
      margin-top: 0;
    }

    a {
      margin-left: auto;
      font-size: 14px;
      font-weight: 600;
      color: $white-color;
    }
  }
}
