  {% load static %}
  <!-- Start Navbar -->
  <nav class="wide-container Navbar">
    <!-- Logo -->
    <img src="{% static 'images/logo.svg' %} " alt="CAT Reloaded logo">
    <!-- Navigation items -->
    <ul>
      <li 
      {% if request.path == '/' %}
         class="active"
			{% else %} 
          class=""
      	{% endif %} >
      	<a href="{% url 'home' %}">Home</a>
      </li>
      <li {% if '/about/' == request.path %}
          class="active"
         {% endif %}>
        <a href="{% url 'about' %}">About</a>
      </li>
      <li {% if  request.path == '/blogs/'  %}
          class="active"
			 {% else %} 
          class=""
         {% endif %} > 
      <a href="{% url 'blogs' %}">Blogs</a>
      </li>
      <li  {% if '/events/' == request.path %}
          class="active"
         {% endif %} >
      <a href="{% url 'events' %}">Events</a>
      </li>
      <li  {% if '/members/' == request.path %}
          class="active"
         {% endif %} >
      <a href="{% url 'members' %}">Members</a>
      </li>
      <li  {% if '/rewards/' == request.path %}
          class="active"
         {% endif %} >
      <a href="{% url 'rewards' %}">Hall Of Fame</a>
      </li>
    </ul>
    <!-- Navigation hamburger menu for responsive -->
    <button class="Navbar__hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
  <!-- End Navbar -->