  {% load static %}
  <!-- Start Navbar -->
  <nav class="wide-container Navbar">
    <!-- Logo -->
    <img src="{% static 'images/logo.svg' %} " alt="CAT Reloaded logo">
    <!-- Navigation items -->
    <ul>
      <li 
      {% if request.path == '/' %}
         class="active"
			{% else %} 
          class=""
      	{% endif %} >
      	<a href="{% url 'home' %}">Home</a>
      </li>
      <li {% if  request.path == '/blogs/'  %}
          class="active"
			 {% else %} 
          class=""
         {% endif %} > 
      <a href="{% url 'blogs' %}">Blogs</a>
      </li>
      <li  {% if '/events/' == request.path %}
          class="active"
         {% endif %} >
      <a href="{% url 'events' %}">Events</a>
      </li>
      <li  {% if '/members/' == request.path %}
          class="active"
         {% endif %} >
      <a href="{% url 'members' %}">Members</a>
      </li>
      <li  {% if '/rewards/' == request.path %}
          class="active"
         {% endif %} >
      <a href="{% url 'rewards' %}">Rewards</a>
      </li>
      <li>
        <button class="contact">Contact &#x025BE;</button>
        <ul>
          <li><a href="https://www.facebook.com/CATReloaded"><img src="{% static 'images/facebook.svg' %}"
                alt="Facebook page">Facebook</a></li>
          <li><a href="https://twitter.com/CATReloaded"><img src="{% static 'images/twitter.svg' %}"
                alt="Twitter account">Twitter</a></li>
          <li><a href="https://www.linkedin.com/company/cat-reloaded/"><img src="{% static 'images/linkedin.svg' %}"
                alt="Linkedin profile">Linkedin</a></li>
          <li><a href="mailto:catreloaded-community@googlegroups.com"><img src="{% static 'images/google+.svg' %}"
                alt="Google+ mail">Google+</a></li>
        </ul>
      </li>
    </ul>
    <!-- Navigation hamburger menu for responsive -->
    <button class="Navbar__hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
  <!-- End Navbar -->