{% extends "_base.html" %} {% load static %} {% block title %} About CAT
{%endblock title %} {% block content %}
<header class="About__header">
  <div class="About__header__overlay"></div>
  <h1>
    <img src="{% static '/images/About__logo.svg' %}" alt="CAT logo" />
    CAT <span>Reloaded</span>
  </h1>
  <p>
    "CAT" is a non-profit foundation focused on Computer Science and IT
    specially Open Source technologies
  </p>
  <a href="{% url 'members' %}">Our Members</a>
</header>
<main class="About__main">
  <!-- Mission -->
  <section class="About__main__mission">
    <div class="About__main__mission__overlay"></div>
    <div class="About__main__mission__content">
      <h2 class="h1">Our Mission</h2>
      <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor industry. Lorem
        Ipsum has
        been the industry's standard dummy when an unknown printer. unknown printer text of the printing typesetting
        dolor
        industry. Lorem Ipsum has been the industry's standard dummy when an unknown printer.standard dummy when an
        unknown
        printer. unknown printer text of the printing</p>
    </div>
  </section>

  <!-- Vison -->
  <section class="About__main__vision">
    <div class="About__main__vision__overlay"></div>
    <div class="About__main__vision__content">
      <h2>Our Vision</h2>
      <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor industry. Lorem
        Ipsum has
        been the industry's standard dummy when an unknown printer. unknown printer text of the printing typesetting
        dolor
        industry. Lorem Ipsum has been the industry's standard dummy when an unknown printer.standard dummy when an
        unknown
        printer. unknown printer text of the printing</p>
    </div>
  </section>

  <!-- Play video -->
  <section class="About__main__video">
    <button>
      <img src="{% static '/images/play-button.svg' %}" alt="Play video">
    </button>
  </section>

  <!-- Video -->
  <section class="video-player hidden">
    <button class="video-player__close">&times;</button>
    <iframe src="https://www.youtube.com/embed/AUHNm0hE9PI" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </section>
</main>

{% endblock content %} {% block js %}
<script src="{% static 'js/navigation.js' %}"></script>
<script src="{% static 'js/about.js' %}"></script>
{% endblock js %}