<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
 Circle Name 
</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

</head>
<body class="Circles">
  {% include 'partials/_navbar.html' %}
  <!-- Start Header -->
  <header class="container">
    <div class="image-wrapper">
      <img src="{% static 'images/article.png' %} " alt="Circle logo">
    </div>
    <h1>Front-end</h1>
    <p>Lorem ipsum contribute dolor, it's lorem ipsum dolor fantastic hamballa anything in betingan in front end web
      developer.
      it's ay kalam in ay betingan tamam hwa da elly andna. and thank you for your help. ya welcome ya welcome in our
      community. you will be happy with us and you learn more and more and thank you very much. and lorem ipsum dolor
      contribute damblodor.</p>
    <div class="leader">
      <div class="image-wrapper">
        <img src="{% static 'images/user.jpg' %}"  alt="User avatar">
      </div>
      <h2>Leader</h2>
      <p>Hassan Qassem</p>
    </div>
  </header>
  <!-- End Header -->

  <main>
    <!-- Start Mentors -->
    <section class="container Circles__mentors">
      <h2>Mentors</h2>
      <div>
        <img src="{% static 'images/user.jpg' %}"" alt="User avatar">
        <p>Mohammed Zayan</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Nahla Galal</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Mohammed Abd El-Hakim</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Eman Ebrahim</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Ahmed Youssef</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Rawan Hamza</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Radwa Ayman</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Mohammed Rabie</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Menna Magdy</p>
      </div>
    </section>
    <!-- End Mentors -->

    <!-- Start Members -->
    <section class="container Circles__members">
      <h2>Members</h2>
      <div>
        <img src="{% static 'images/user.jpg' %}"alt="User avatar">
        <p>Nahla Galal</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Tasneem ElGhobashy</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Esraa Abd El-Rahman</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Mohammed AbdEl-hakeem</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Jazef Reda</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Jazef Reda</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Mohammed AbdEl-hakeem</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Jazef Reda</p>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Jazef Reda</p>
      </div>
    </section>
    <!-- End Members -->

  </main>

 {% include 'partials/_footer.html' %}

<script src="{% static 'js/navigation.js' %} "></script>

</body>
</html>