<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
 {{circle.name}} 
</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

</head>
<body class="Circles">
  {% include 'partials/_navbar.html' %}
  <!-- Start Header -->
  <header class="container">
    <div class="image-wrapper">
      <img src="{% static 'images/article.png' %} " alt="Circle logo">
    </div>
    <h1>{{circle.name}}</h1>
    <p>{{ circle.description }}</p>
    <div class="leader">
      <div class="image-wrapper">
        <img src="/media/{{ circle.leader.image }}"  alt="User avatar">
      </div>
      <h2>Leader</h2>
      <p>{{circle.leader.name}}</p>
    </div>
  </header>
  <!-- End Header -->

  <main>
    <!-- Start Mentors -->

    {% if mentors %}
      <section class="container Circles__mentors">
        <h2>Mentors</h2>
        {% for mentor in mentors %}
          <div>
            <img src="/media/{{mentor.image}}" alt="User avatar">
            <p>{{mentor.name}}</p>
          </div>
        {% endfor %}
      </section>
    {% endif %}
    
    <!-- End Mentors -->

    <!-- Start Members -->
    {%if members %}
      <section class="container Circles__members">
        <h2>Members</h2>
        {% for member in members %}
          <div>
            <img src="/media/{{member.image}}"alt="User avatar">
            <p>{{member.name}}</p>
          </div>
        {% endfor %}
      </section>
    {% endif %}
    <!-- End Members -->

  </main>

 {% include 'partials/_footer.html' %}

<script src="{% static 'js/navigation.js' %} "></script>

</body>
</html>