<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAT Reloaded events</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <!-- Start Navbar -->
  {% include 'partials/_navbar.html' %}
  <!-- End Navbar -->

  <main class="container Events">
    <h1>Events</h1>
    {% for event in events %}
      <section class="Events__event">
        <div class="Events__event__timeline"></div>
        <button class="Events__event__image-wrapper" id="event-btn">
          <img src="/media/{{ event.image }}" alt="Event">
        </button>
        <div class="Events__event__content">
          <h2>{{event.name}}</h2>
          <span data-text="{{event.date}}">{{event.date|date:"M Y"}}</span>
          <p data-text="{{event.description}}">{{ event.description|truncatechars:80 }}</p>
        </div>
        <div class="Events__event__circle"></div>
        {% for image in event.images.all %}
          <div data-row="{{image.img}}" id="eveimgs"></div>
        {% endfor %}
      </section>
    {% endfor %}
  </main>
  {% comment %} <script>console.log(imgs)</script {% endcomment %}

<!-- Start Footer -->
    {% include 'partials/_footer.html' %}
<!-- Start Footer -->


  <!-- Start Event Overlay -->
  <section class="hidden container Event">
    <button class="Event__close">&times;</button>
    <header class="Event__header">
      <div class="image-wrapper">
        <img src="{% static 'images/event.jpg' %}" alt="Event main image">
      </div>
      <h2></h2>
      <p></p>
      <p class="Event__header__desc"></p>
    </header>

    
    <div class="Event__images">
      {% comment %} <div class="image-wrapper">
        <img src="{% static 'images/event.jpg' %}" alt="Event images">
      </div>
      <div class="image-wrapper">
        <img src="{% static 'images/event.jpg' %}" alt="Event images">
      </div>
      <div class="image-wrapper">
        <img src="{% static 'images/event.jpg' %}" alt="Event images">
      </div>
      <div class="image-wrapper">
        <img src="{% static 'images/event.jpg' %}" alt="Event images">
      </div>
      <div class="image-wrapper">
        <img src="{% static 'images/event.jpg' %}" alt="Event images">
      </div> {% endcomment %}
    </div>
  </section>
  <!-- End Event Overlay -->

  <script src="{% static 'js/navigation.js' %}"></script>
  <script src="{% static 'js/events.js' %}"></script>
</body>

</html>