{% extends "_base.html" %}
{% load static %}
{% block title %} CAT Reloaded {% endblock title %} 

{% block content %}
<!-- Start Header -->
  <header class="container">
    <h1>CAT Reloaded</h1>
    <p>CAT" is a non-profit foundation focused on" Computer Science and IT specially Open Source technologies CAT's
      primary
      goal was to create an IT community in Mansoura University that is dynamic, innovative and highly scalable for the
      undergraduate computer engineering/science students, that would help them achieve a good level of technical
      proficiency
      through projects and seminars</p>
  </header>
  <!-- End Header -->
  <main>
    <!-- Start Circles -->
    <section class="circles container">
      <h2>Circles</h2>
      <section>
        <div>
          <div class="image-wrapper">
            <img src="{% static 'images/graphic.svg' %}" alt="Graphic icon">
          </div>
          <p><span>Graphic</span> Circle</p>
        </div>
        <div>
          <div class="image-wrapper">
            <img src="{% static 'images/game.svg' %}" alt="Game icon">
          </div>
          <p><span>Game</span> Circle</p>
        </div>
        <div>
          <div class="image-wrapper">
            <img src="{% static 'images/web.svg' %}" alt="Web icon">
          </div>
          <p><span>Web</span> Circle</p>
        </div>
        <div>
          <div class="image-wrapper">
            <img src="{% static 'images/mobile.svg' %}" alt="Mobile icon">
          </div>
          <p><span>Mobile</span> Circle</p>
        </div>
        <div>
          <div class="image-wrapper">
            <img src="{% static 'images/data.svg' %}" alt="Data icon">
          </div>
          <p><span>Data Science</span> Circle</p>
        </div>
        <div>
          <div class="image-wrapper">
            <img src="{% static 'images/embedded.svg' %}" alt="Embedded icon">
          </div>
          <p><span>Embedded</span> Circle</p>
        </div>
        <div>
          <div class="image-wrapper">
            <img src="{% static 'images/security.svg' %}" alt="Security icon">
          </div>
          <p><span>Security</span> Circle</p>
        </div>
        <div>
          <div class="image-wrapper">
            <img src="{% static 'images/marketing.svg' %}" alt="Marketing icon">
          </div>
          <p><span>Marketing</span> Circle</p>
        </div>
        <div>
          <div class="image-wrapper">
            <img src="{% static 'images/nontech.svg' %}" alt="Non-technical icon">
          </div>
          <p><span>Non - Technical</span> Circle</p>
        </div>
      </section>
    </section>
    <!-- End Circles -->
  <!-- Start Technical circles -->
    <section class="container tech-circles">
      <h2>Technical Circles</h2>
      <section>
        <img src="{% static 'images/frontend-circle.svg' %}" alt="Front-end circle image">
        <h3>Front-end Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Hassan Qassem</p>
        <a href="{% url 'circle' %}">See more</a>
      </section>
      <section>
        <img src="{% static 'images/backend-circle.svg' %}" alt="Back-end circle image">
        <h3>Back-end Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">El-Saeed Ahmed</p>
        <a href="/Circles.html">See more</a>
      </section>
      <section>
        <img src="{% static 'images/android-circle.svg' %}" alt="Android circle image">
        <h3>Android Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Mohammed Hamdy</p>
        <a href="/Circles.html">See more</a>
      </section>
      <section>
        <img src="{% static 'images/ios-circle.svg' %}" alt="IOS circle image">
        <h3>IOS Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Sherif El-deeb</p>
        <a href="/Circles.html">See more</a>
      </section>
      <section>
        <img src="{% static 'images/graphic-circle.svg' %}" alt="Graphic circle image">
        <h3>Graphic Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Khaled El-Mansy</p>
        <a href="/Circles.html">See more</a>
      </section>
      <section>
        <img src="{% static 'images/game-circle.svg' %}" alt="Game circle image">
        <h3>Game Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Mohammed El-Sherbini</p>
        <a href="/Circles.html">See more</a>
      </section>
      <section>
        <img src="{% static 'images/data-circle.svg' %}" alt="Date science circle image">
        <h3>Date science Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Nouran Ali</p>
        <a href="/Circles.html">See more</a>
      </section>
      <section>
        <img src="{% static 'images/security-circle.svg' %}" alt="Security circle image">
        <h3>Security Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Yasser El-Snbary</p>
        <a href="/Circles.html">See more</a>
      </section>
      <section>
        <img src="{% static 'images/embedded-circle.svg' %}" alt="Embedded circle image">
        <h3>Embedded Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Ali Ghorab</p>
        <a href="/Circles.html">See more</a>
      </section>
    </section>
    <!-- End Technical circles -->

    <!-- Start Non-technical circles -->
    <section class="container non-tech-circles">
      <h2>Non - Technical Circles</h2>
      <section>
        <img src="{% static 'images/hr-circle.svg' %}" alt="HR circle image">
        <h3>HR Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Tasneem El-Ghobashy</p>
        <a href="/Circles.html">See more</a>
      </section>
      <section>
        <img src="{% static 'images/pr-circle.svg' %}" alt="PR circle image">
        <h3>PR Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Hossam Asaad</p>
        <a href="/Circles.html">See more</a>
      </section>
      <section>
        <img src="{% static 'images/logistics-circle.svg' %}" alt="Logistics circle image">
        <h3>Logistics Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Nahla Galal</p>
        <a href="/Circles.html">See more</a>
      </section>
      <section>
        <img src="{% static 'images/media-circle.svg' %}" alt="Media circle image">
        <h3>Media Circle</h3>
        <p>Lorem Ipsum is simply dummy dolor unknown printer text of the printing and typesetting dolor alore industry.
          Lorem Ipsum
          has been the industry's standard dummy when an unknown printer. dolor cont standard dummy Contrary to popular
          belief,
          standard dummy lorem ipsum dolor.</p>
        <h4>Leader</h4>
        <p class="leader-name">Roaa Mohammed</p>
        <a href="/Circles.html">See more</a>
      </section>
    </section>
    <!-- End Non-technical circles -->
    <!-- Start Blogs -->
    <section class="container blogs">
      <h2>Blogs</h2>
      <div class="blogs__content">
        <button>&lt;</button>
        <section class="article">
          <img src="{% static 'images/article.png' %}" alt="Article image">
          <h3>Excepteur sint.</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
          <footer>
            <span class="blogs__content__likes"><img src="{% static 'images/heart.svg' %}" alt="like icon">609</span>
            <span class="blogs__content__comments"><img src="{% static 'images/comment.svg' %}" alt="comment icon">609</span>
            <a href="/Blog.html">See More</a>
          </footer>
        </section>
        <section class="article">
          <img src="{% static 'images/article.png' %}" alt="Article image">
          <h3>Excepteur sint.</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
          <footer>
            <span class="blogs__content__likes"><img src="{% static 'images/heart.svg' %}" alt="like icon">609</span>
            <span class="blogs__content__comments"><img src="{% static 'images/comment.svg' %}" alt="comment icon">609</span>
            <a href="/Blog.html">See More</a>
          </footer>
        </section>
        <section class="article">
          <img src="{% static 'images/article.png' %}" alt="Article image">
          <h3>Excepteur sint.</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
          <footer>
            <span class="blogs__content__likes"><img src="{% static 'images/heart.svg' %}" alt="like icon">609</span>
            <span class="blogs__content__comments"><img src="{% static 'images/comment.svg' %}" alt="comment icon">609</span>
            <a href="/Blog.html">See More</a>
          </footer>
        </section>
        <button>&gt;</button>
      </div>
      <div class="blogs__controls">
        <span></span>
        <span></span>
        <span class="active"></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <!-- End Blogs -->


  </main>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/navigation.js' %} "></script>
{% endblock js %}