{% extends "_base.html" %}
{% load static %}
{% block title %} CAT Reloaded {% endblock title %} 

{% block content %}
<!-- Start Header -->
  <header class="container Home__header">
    <h1>CAT Reloaded</h1>
    <p>CAT" is a non-profit foundation focused on" Computer Science and IT specially Open Source technologies CAT's
      primary
      goal was to create an IT community in Mansoura University that is dynamic, innovative and highly scalable for the
      undergraduate computer engineering/science students, that would help them achieve a good level of technical
      proficiency
      through projects and seminars</p>
  </header>
  <!-- End Header -->
  <main>
    <!-- Start Circles -->
    <section class="circles container">
      <h2>Circles</h2>
      <section>
        {% for circle in circles %}
          <div>
            <div class="image-wrapper">
              <img src="/media/{{circle.icon}}" alt="{{circle.name}} icon">
            </div>
            <p><span>{{ circle.name }}</span> Circle</p>
          </div>
        {% endfor %}
        <div>
          <div class="image-wrapper">
            <img src="{% static 'images/nontech.svg' %}" alt="Non-technical icon">
          </div>
          <p><span>Non - Technical</span> Circle</p>
        </div>
      </section>
    </section>
    <!-- End Circles -->
  <!-- Start Technical circles -->
    <section class="container tech-circles">
      <h2>Technical Circles</h2>
      {%for circle in technical_circles%}
        <section>
        <img src="{% static 'images/frontend-circle.svg' %}" alt="Front-end circle image">
        <h3>{{circle.name}}</h3>
        <p>{{circle.description}}</p>
        <h4>Leader</h4>
        <p class="leader-name">{{ circle.leader.name }}</p>
        <a href="{% url 'circle' circle.name %}">See more</a>
      </section>
      {% endfor %}
    </section>
    <!-- End Technical circles -->

    <!-- Start Non-technical circles -->
    <section class="container non-tech-circles">
      <h2>Non - Technical Circles</h2>
      {%for circle in non_technical_circles%}
        <section>
          <img src="/media/{{circle.image}}" alt="{{circle.name}} circle image">
          <h3>{{circle.name}}</h3>
          <p>{{circle.description}}</p>
          <h4>Leader</h4>
          <p class="leader-name">{{ circle.leader.name }}</p>
          <a href="{% url 'circle' circle.name %}">See more</a>
        </section>
      {% endfor %}
    </section>
    <!-- End Non-technical circles -->
    
    <!-- Start Blogs -->
    <section class="container blogs">
      <h2>Blogs</h2>
      <div class="blogs__content">
        <button class="blogs__prev">&lsaquo;</button>
        {% comment %} Articles {% endcomment %}
        <button class="blogs__next">&rsaquo;</button>
      </div>
      <div class="blogs__controls"></div>
    </section>
    <!-- End Blogs -->


  </main>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/navigation.js' %}"></script>
  <script>const articles = JSON.parse("{{articles | escapejs}}");</script>
  <script src="{% static 'js/homeBlogs.js' %}"></script>
{% endblock js %}