{% extends '_base.html' %}
{% load static %}
{% block title %} Members {% endblock title %}

{% block content %}
<main class="container Members">
    <!-- Start Team Members -->
    <section class="Members__team">
      <h2>Our team</h2>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Hassan Qassem</p>
        <span>Coordinator</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
        <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>Hassan Qassem</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
        <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
        <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
        <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
    <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
       <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
      

      
    </section>
    <!-- End Team Members -->

    <!-- Start Team Founders -->
    <section class="Members__founders">
      <h2>Founders</h2>
      
    <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
        
   <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
        <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
        <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
      <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
        <div>
        <img src="{% static 'images/user.jpg' %}" alt="User avatar">
        <p>El-Saeed Ahmed</p>
        <span>Back-end Leader</span>
        <ul>
          <li><a href="#"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
          <li><a href="#"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
          <li><a href="#"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
        </ul>
      </div>
    </section>
    <!-- End Team Founders -->
  </main>

{% endblock content %}
{% block js %}
  <script src="{% static 'js/navigation.js' %} "></script>
{% endblock js %}