{% extends '_base.html' %}
{% load static %}
{% block title %}
    Rewards
{% endblock title %}

{% block content %}

  <main class="container Rewards">
    <h1>Hall Of Fame</h1>
    {% for reward in rewards %}
      <section class="Rewards__circle">
        <h2>{{reward.circle.name}}</h2>
        <div class="Rewards__circle__member Rewards__circle__member--silver">
          <div>
            <img src="/media/{{ reward.second.image }}" alt="User avatar">
            <p>{{ reward.second.name }}</p>
            <span>Silver</span>
          </div>
          <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
        </div>
        <div class="Rewards__circle__member Rewards__circle__member--gold">
          <div>
            <img src="/media/{{ reward.first.image }}" alt="User avatar">
            <p>{{ reward.first.name }}</p>
            <span>Gold</span>
          </div>
          <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
        </div>
        <div class="Rewards__circle__member Rewards__circle__member--platenium">
          <div>
            <img src="/media/{{ reward.first.image }}" alt="User avatar">
            <p>{{ reward.third.name }}</p>
            <span>Platenium</span>
          </div>
          <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
        </div>
      </section>
    {% endfor %}
  </main>
{% endblock content %}
{% block js %}
  <script src="{% static 'js/navigation.js' %} "></script>
{% endblock js %}