{% extends '_base.html' %}
{% load static %}
{% block title %}
    Rewards
{% endblock title %}

{% block content %}

  <main class="container Rewards">
    <h1>Rewards</h1>
    <section class="Rewards__circle">
      <h2>Front-end Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>Back-end Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>Android Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>IOS Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>Graphic Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>Game Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>Data science Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>Security Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>Embedded Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>HR Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>PR Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>Logistics Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
    <section class="Rewards__circle">
      <h2>Media Circle</h2>
      <div class="Rewards__circle__member Rewards__circle__member--silver">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/silver.svg' %}" alt="Silver medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--gold">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/gold.svg' %}" alt="Gold medal icon">
      </div>
      <div class="Rewards__circle__member Rewards__circle__member--platenium">
        <div>
          <img src="{% static 'images/user.jpg' %}" alt="User avatar">
          <p>Nahla Galal</p>
          <span>reward</span>
        </div>
        <img src="{% static 'images/platenium.svg' %}" alt="Platenium medal icon">
      </div>
    </section>
  </main>
{% endblock content %}
{% block js %}
  <script src="{% static 'js/navigation.js' %} "></script>
{% endblock js %}