// Colors
$main-color: #e70000;
$text-color: #707070;
$light-text-color: #CACACA;
$black-color: #000000;
$white-color: #ffffff;
$back-color: rgba($black-color, 0.03);
$shadow-color: rgba($black-color, 0.161);
$red-alpha: rgba(231, 0, 0, 0.4);
// Transition
$transition: all 0.4s ease-in-out;
// Shadow
$shadow: 0 4px 6px rgba(0, 0, 0, 0.4);