<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAT Reloaded Blogs</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="Blogs">
  <!-- Start Navbar -->
{% include "partials/_navbar.html" %}

  <header class="container">
    <h1>Blogs</h1>
    <input type="search" name="search" id="search" placeholder="Search">

    <!-- Start Select Category -->
    <p>CATEGORIES</p>
    <select name="blog-category">
      <option value="" selected disabled> Select Category </option>
      {%for category in categories %}
        <option value="{{category.name}}">{{category.name}}</option>
      {% endfor %}
    </select>

    <!-- End Select Category -->

        <!-- Start Select Month -->
    {% comment %} <p>ARCHIVES</p>
    <select name="blog-time">
      <option value="" selected disabled> Select Month </option>
      <option value="January-2018">January 2018</option>
      <option value="February-2018">February 2018</option>
      <option value="March-2019">March 2019</option>
      <option value="April-2019">April 2019</option>
      <option value="January-2020">January 2020</option>
      <option value="June-2020">June 2020</option>
      <option value="July-2020">July 2020</option>
    </select> {% endcomment %}
    <!-- End Select Month -->


  </header>
  <main class="container">
    {% for article in page_obj %}
      <section class="article">
        <img src="/media/{{article.image}}" alt="Article image">
        <h3>{{article.title}}</h3>
        <p>{{ article.body|truncatechars:100 }}</p>
        <footer>
          {% if article.likes %}
            <span class="blogs__content__likes"><img src=" {% static 'images/heart.svg' %}" alt="like icon">{{article.likes}}</span>
          {% endif %}
          {% if article.comments_num %}
            <span class="blogs__content__comments"><img src=" {% static 'images/comment.svg' %}" alt="comment icon">{{article.comments_num}}</span>
          {% endif %}
          <a href="{% url 'single_blog' article.title %}">See More</a>
        </footer>
      </section>
    {% endfor %}
    <!-- Paging -->
    {% if page_obj.has_other_pages %}
      <footer>

        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}"><button>&xlarr;</button></a>
        {% endif %}

        {% for i in page_obj.paginator.page_range|slice:"page_obj.number:" %}
          {% if forloop.counter < 5 %}
            {% if page_obj.number == i %}
              <button disabled>i</button>
            {% else %}
              <a href="?page={{i}}"><button>i</button></a>
            {% endif %}
          {% endif %}
        {% endfor %}
        
        {% if users.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"><button>&xrarr;</button></a>
        {% endif %}
      
      </footer>
    {% endif %}

  </main>

{% include "partials/_footer.html" %}

  <script src="./js/navigation.js"></script>
</body>

</html>