<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAT Reloaded Blogs</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="Blogs">
  <!-- Start Navbar -->
{% include "partials/_navbar.html" %}

  <header class="container">
    <h1>Blogs</h1>
    <input type="search" name="search" id="search" placeholder="Search">

    <!-- Start Select Month -->
    <p>ARCHIVES</p>
    <select name="blog-time">
      <option value="" selected disabled> Select Month </option>
      <option value="January-2018">January 2018</option>
      <option value="February-2018">February 2018</option>
      <option value="March-2019">March 2019</option>
      <option value="April-2019">April 2019</option>
      <option value="January-2020">January 2020</option>
      <option value="June-2020">June 2020</option>
      <option value="July-2020">July 2020</option>
    </select>
    <!-- End Select Month -->

    <!-- Start Select Category -->
    <p>CATEGORIES</p>
    <select name="blog-category">
      <option value="" selected disabled> Select Category </option>
      <option value="Category1">Category 1</option>
      <option value="Category2">Category 2</option>
      <option value="Category3">Category 3</option>
      <option value="Category4">Category 4</option>
      <option value="Category5">Category 5</option>
      <option value="Category6">Category 6</option>
      <option value="Category7">Category 7</option>
    </select>
    <!-- End Select Category -->
  </header>

  <main class="container">
    <section class="article">
      <img src=" {% static 'images/article.png' %}" alt="Article image">
      <h3>Excepteur sint.</h3>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
      <footer>
        <span class="blogs__content__likes"><img src=" {% static 'images/heart.svg' %}" alt="like icon">609</span>
        <span class="blogs__content__comments"><img src=" {% static 'images/comment.svg' %}" alt="comment icon">609</span>
        <a href="/Blog.html">See More</a>
      </footer>
    </section>
    <section class="article">
      <img src=" {% static 'images/article.png' %}" alt="Article image">
      <h3>Excepteur sint.</h3>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
      <footer>
        <span class="blogs__content__likes"><img src=" {% static 'images/heart.svg' %}" alt="like icon">609</span>
        <span class="blogs__content__comments"><img src=" {% static 'images/comment.svg' %}" alt="comment icon">609</span>
        <a href="/Blog.html">See More</a>
      </footer>
    </section>
    <section class="article">
      <img src=" {% static 'images/article.png' %}" alt="Article image">
      <h3>Excepteur sint.</h3>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
      <footer>
        <span class="blogs__content__likes"><img src=" {% static 'images/heart.svg' %}" alt="like icon">609</span>
        <span class="blogs__content__comments"><img src=" {% static 'images/comment.svg' %}" alt="comment icon">609</span>
        <a href="/Blog.html">See More</a>
      </footer>
    </section>
    <section class="article">
      <img src=" {% static 'images/article.png' %}" alt="Article image">
      <h3>Excepteur sint.</h3>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
      <footer>
        <span class="blogs__content__likes"><img src=" {% static 'images/heart.svg' %}" alt="like icon">609</span>
        <span class="blogs__content__comments"><img src=" {% static 'images/comment.svg' %}" alt="comment icon">609</span>
        <a href="/Blog.html">See More</a>
      </footer>
    </section>
    <section class="article">
      <img src=" {% static 'images/article.png' %}" alt="Article image">
      <h3>Excepteur sint.</h3>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
      <footer>
        <span class="blogs__content__likes"><img src=" {% static 'images/heart.svg' %}" alt="like icon">609</span>
        <span class="blogs__content__comments"><img src=" {% static 'images/comment.svg' %}" alt="comment icon">609</span>
        <a href="/Blog.html">See More</a>
      </footer>
    </section>
       <section class="article">
      <img src=" {% static 'images/article.png' %}" alt="Article image">
      <h3>Excepteur sint.</h3>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
      <footer>
        <span class="blogs__content__likes"><img src=" {% static 'images/heart.svg' %}" alt="like icon">609</span>
        <span class="blogs__content__comments"><img src=" {% static 'images/comment.svg' %}" alt="comment icon">609</span>
        <a href="/Blog.html">See More</a>
      </footer>
    </section>
       <section class="article">
      <img src=" {% static 'images/article.png' %}" alt="Article image">
      <h3>Excepteur sint.</h3>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
      <footer>
        <span class="blogs__content__likes"><img src=" {% static 'images/heart.svg' %}" alt="like icon">609</span>
        <span class="blogs__content__comments"><img src=" {% static 'images/comment.svg' %}" alt="comment icon">609</span>
        <a href="/Blog.html">See More</a>
      </footer>
    </section>
       <section class="article">
      <img src=" {% static 'images/article.png' %}" alt="Article image">
      <h3>Excepteur sint.</h3>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
      <footer>
        <span class="blogs__content__likes"><img src=" {% static 'images/heart.svg' %}" alt="like icon">609</span>
        <span class="blogs__content__comments"><img src=" {% static 'images/comment.svg' %}" alt="comment icon">609</span>
        <a href="/Blog.html">See More</a>
      </footer>
    </section>

 

    <!-- Paging -->
    <footer>
      <button>&xlarr;</button>
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>&xrarr;</button>
    </footer>
  </main>

{% include "partials/_footer.html" %}

  <script src="./js/navigation.js"></script>
</body>

</html>