<!DOCTYPE html>
{% load static  %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{article.title}} </title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="Blog">
  <!-- Start Navbar -->
   {% include "partials/_navbar.html" %}
  <!-- End Navbar -->

  <!-- Start Article Image, Date and Category -->
  <header>
    <div class="image-wrapper">
      <img src="/media/{{article.image}}" alt="Article cover image">
    </div>
    <p class="container">{{article.date}}</p>
    <p class="container">{{article.category}}</p>
  </header>
  <!-- End Article Image, Date and Category -->

  <div class="container">
    <!-- Start Related Blogs -->
    <aside>
      <h2>Related Blogs</h2>
      {% for r_article in related_articles %}
        <section class="article">
          <img src="/media/{{r_article.image}}" alt="Article image">
          <h3>{{r_article.title}}</h3>
          <p>{{ r_article.body|truncatechars:100 }}</p>
          <footer>
            {% if r_article.likes %}
              <span class="blogs__content__likes"><img src=" {% static 'images/heart.svg' %}" alt="like icon">{{r_article.likes}}</span>
            {% endif %}
            {% if r_article.comments_num %}
              <span class="blogs__content__comments"><img src=" {% static 'images/comment.svg' %}" alt="comment icon">{{r_article.comments_num}}</span>
            {% endif %}
            <a href="{% url 'single_blog' r_article.title %}">See More</a>
          </footer>
        </section>
      {% endfor %}
    </aside>
    <!-- End Related Blogs -->

    <!-- Start Blog -->
    <main>
      <h1>{{article.title}}</h1>
      <p>{{article.body}}</p>
    </main>
    <!-- End Blog -->
  </div>

  <!-- Start Author -->
  <hr>
  <section class="container Blog__author">
    <img src="/media/{{article.author.image}}" alt="User avatar">
    <p>{{article.author.name}}</p>
    <span>{{article.author.circle}}</span>
    <ul>
      {% if article.author.git %}
        <li><a href="{{article.author.git}}"><img src="{% static 'images/github-red.svg' %}" alt="Github profile"></a></li>
      {% endif %}
      {% if article.author.linked_in %}
        <li><a href="{{article.author.linked_in}}"><img src="{% static 'images/linkedin-red.svg' %}" alt="Linkedin profile"></a></li>
      {% endif %}
      {%if article.author.twitter %}
        <li><a href="{{article.author.twitter}}"><img src="{% static 'images/twitter-red.svg' %}" alt="Twitter account"></a></li>
      {% endif %}
      {% if article.author.facebook %}
        <li><a href="{{article.author.facebook}}"><img src="{% static 'images/facebook-red.svg' %}" alt="Facebook account"></a></li>
      {% endif %}
    </ul>
  </section>
  <!-- End Author -->

  <!-- Start Comments -->
  <section class="container Blog__comments">
    <h2>Comments</h2>
    {% for comment in comments %}
      {% if comment.author %}
        <section>
          <img src="/media/{{ comment.author.image }}"  alt="User avatar">
          <div>
            <p class="comment-author">{{ comment.author.name }}</p>
            <p class="comment-date">{{ comment.date|date:"SHORT_DATETIME_FORMAT" }}</p>
          </div>
          <p>{{ comment.comment }}</p>
        </section>
      {% else %}
        <section>
          <img src="{% static 'images/user.jpg' %}"  alt="User avatar">
          <div>
            <p class="comment-author">{{ comment.anynous_name }}</p>
            <p class="comment-date">{{ comment.date|date:"SHORT_DATETIME_FORMAT" }}</p>
          </div>
          <p>{{ comment.comment }}</p>
        </section>
      {% endif %}
    {% endfor %}

    {% comment %} 

        the next is useless
        we should fix and make users system for better exp

    
     {% endcomment %}
    <form action="{% url "single_blog"  article.title %}" method="post">
      {% csrf_token %}
      <h3>Leave a reply</h3>
      <div class="form-input">
        <input type="text" name="name" id="name" required>
        <label for="name">Name*</label>
      </div>
      <div class="form-input">
        <input type="email" name="email" id="email" required>
        <label for="email">Email*</label>
      </div>
      <div class="form-input">
        <input type="url" name="website" id="website">
        <label for="website">Website</label>
      </div>
      <div class="form-input comment">
        <textarea name="comment" id="comment"></textarea>
        <label for="comment">Comment</label>
      </div>
      <button type="submit">Reply</button>
    </form>
  </section>
  <!-- End Comments -->

  <!-- Start Footer -->
 {% include "partials/_footer.html" %}
  <!-- End Footer -->

  <script src="{% static "js/navigation.js" %}"></script>
  <script>
    window.addEventListener("keyup", (e) => {
      if (e.target.nodeName === "INPUT" && e.target.id) {
        const input = document.getElementById(e.target.id);
        if (!input.value) input.classList.remove("label-hidden");
        else input.classList.add("label-hidden");
      }
    })
  </script>
</body>

</html>