body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

.wide-container {
  padding: 0 5%;
}

.container {
  padding: 0 10%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  padding: 0;
}

a {
  text-decoration: none;
}