@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe\ UI.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe\ UI\ Bold.ttf");
  font-weight: 600;
}

body, button, input, textarea, select {
  font-family: "Segoe UI", sans-serif;
  font-weight: 300;
  outline: 0.001px;
}